# Virtual environment directory
ai_venv/

# Python cache files
__pycache__/
*.py[cod]

# Config file with API keys
config.json

# Ignore Streamlit secrets file
.streamlit/secrets.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional, if you want to exclude VS Code settings)
.vscode/

# MacOS specific files
.DS_Store

